<!DOCTYPE html>
<html>

<body>
  <form method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </div>

    <div>
      <label for="name">Username</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="name">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="name">Confirm Password</label>
      <input type="password" name="conf_password" id="conf_password">
    </div>

    <button type="submit">Register</button>
  </form>
</body>

{% if error %}
{{ error }}
{% endif %}

</html>